.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "body" "footer";
  grid-template-rows: 4.3em 1fr 4em;
}
.app__body {
  grid-area: body;
}

.app__header {
  grid-area: header;
}

.app__footer {
  grid-area: footer;
}
